.wrap {
  display: inline-block;
  padding: 30px 10% 0 10%;
  height: 90vh;
  overflow: auto;
  img {
    width: 33%;
    &:hover {
      animation: 0.5s scale-up-center;
      animation-fill-mode:both;
    }
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
